
margin{
    background-color: black;
}

body {
    width: 1024px;
    margin: 0 auto;
    /*marginボックス外側の余白*/
    /*白を自動で調整左右中央寄せ*/

    min-height: auto;/*height高さ・width幅*/
    display: flex;
    flex-direction: column;/*flexで聖杯レイアウト*/
    background-color: white;
}


/*初期化⁺サイドバー*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;/*丸い点削除*/
    text-decoration: none;/*ボーダーライン削除*/
}

.sidebar{
    position:fixed; /* 要素の位置を固定する */
    top:0px;/*上詰める※*/
    padding-top: 100px;
    right: -400px;
    background-color:black;
    /*background: rgba(242, 242, 242, 0.5);/*rgbaで背景透明*/
    width: 400px;
    height: 100%;
    user-select:none;/*ユーザーセレクトコピペ不可*/

    transition: all 0.5s;/*ロパティが変化する際のアニメーションの速度を操作する手段*/
    color: white;
}
h2{
    color:white;
}
.sidebar ul a{
    display: block;/*aタグインライン要素をブロックにすることで高さ幅指定可*/
    height: 100%;
    width: 100%;
    line-height: 20px;/*余白paddingでも可*/
    color: palevioletred;
    

}
ul li:hover a{
    padding-left: 5px; /*hoverで文字右にずらし、親要素にtransitionで秒数s*/
    color:blue;
}

/*toggle　sectionボタン*/
#check {
    display: none;
}

label #btm,
label #cancel{
    position:absolute;
    cursor: pointer;
    
    border-radius: 3px;
}
label #btm{/*label #BtmのHTML*/
    right:500px;
    top: 58px;
    font-size:30px;
    color:black;
    padding: 6px 12px;

    
}
label #cancel{
    z-index:1;/*要素を上にしてクリック可能に*/
    right: -195px;
    top:25px;
    font-size:30px;
    color: white;
    padding: 4px 9px;

    transform: 0.5px;
    position: fixed;/*固定スクロール追跡*/
}
/*checkされたら表示指定.sidebarのright-250を0に戻す*/
#check:checked ~ .sidebar{
    right: 0;
}
#check:checked ~ label #btm{
    left:250px;
    opacity:0;
    pointer-events: none;

}
/*× #cancelのrightを－にして、元に戻す指定*/
#check:checked ~ label #cancel{
    right:195px;
}


/*_________________________________________*/

header {
    height: 50px;
    
}

li{
    list-style: none;/*丸消*/
    padding:5px;/**/
    padding-top: 30px;
}

nav ul li a {
    text-decoration: none;/*下線デフォ削除※含まれるタグ全て*/
    
}

.main-header{
    padding-top: 50px;
}

/*____________________main_____________________*/

main{
    right:100px;
    letter-spacing:4px;
    
}

ol {
    display: flex; /*ul/olに対してdisplay : flexと指定するだけで子要素のliが横並びになります。*/
}


/*文章*/
h3{
    padding:30px;
    font-size:30px;
}

/*料金*/
.pink{
    background-color: #B0C4DE;
}

.text0{
    font-size:20px;
    border: solid 2px black;
  border-radius: 5px 5px 5px 5px;/*角丸*/

}
.clickbtn {
        width: 1000px; 
        height: 100px;  
        border-radius: 20px;
        font-size: 50px;
        background-color:#B0C4DE;
  }

/*スライド*/
.slide{
    white-space: nowrap;
    width: 1024px;
    height:350px;
    overflow: hidden;
}
/*overflow: hiddenなコンテナで包みます。サイズも指定します。
継承されないCSSを継承したい時に使用するのが「inherit」*/
.slide img{
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    border: none;
}
/*margin-leftを負の値にするフレームワークとアニメーション*/
@keyframes slide-4{
    0%{ margin-left: 0;}
    33%{ margin-left: -100%;}
    66%{ margin-left: -200%;}
    100%{ max-left: -300%;}
}
.slide > :first-child {
    animation-name: slide-4;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

footer {
    height: 200px;
}
